<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04-UICollectionViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC88D9EE1CC21E7000134487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC88DA0A1CC21E7100134487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC88DA151CC21E7100134487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
